/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.ffid-account-modal {
  position: fixed;
  z-index: 50;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.ffid-modal-content {
  width: 90vw;
  max-width: 400px;
  margin: 1.75rem auto;
  /* background: white; */
  padding: 1rem;
  border-radius: 0.5rem;
}

.ffid-account-selector {
  gap: 0.5rem;
}

#account-listbox::-webkit-scrollbar {
  width: 6px;
}

#account-listbox::-webkit-scrollbar-track {
  background: transparent;
}

#account-listbox::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

#account-listbox::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
